body {
  overflow: auto;
            margin:0px;
            width:100%;
            height:100%;
        }

#myCanvas{
  border:1px solid #c3c3c3;
  background-color:black;
  position:absolute;
  z-index:-1;
  top:0;
  left:0;
}
#phone{
  height:500px;
  border:1px solid white;
  margin-top:25%;
  border-radius:3%;
}
#point{
  width:5%;
  height:8px;
  border:1px solid gray;
  padding:0;
  margin-top:4%;
  border-radius:100%;
}
#bar{
  width:50%;
  height:8px;
  border:1px solid gray;
  border-radius:10%;
  margin-top:4%;
}
#screen{
  width:90%;
  height:80%;
  margin:5% 5% 1% 5%;
  padding:15% 8%;
  background-color:gray;
  opacity:0.6;
  text-align:center;
}
.list-group{
  margin-top:20%;
  padding:2% 5%;
}
.list-group-item{
  margin:5% 5%;
  border-radius:5%;
  font-size: 20px;
}
#homebtn{
  width:15%;
  height:45px;
  border:1px solid white;
  border-radius:100%;
  margin:3% 42%;
  padding-top:4%;
  text-align:center;
}

.banner{
  margin-top: 2px;
  font-size:18px;
  font-weight: bold;
}
.navbar{
  padding:0 3%;
  background: rgba(255,255,255,0);
  border:transparent;
  color: blue;
}
.navlist{
  margin-top: 4px;
  font-size:15px;
  font-weight: bold;
}
  .navbar-fixed-top{
    height:50px;
  }
  .navbar-toggle{
    margin-right:0;
  }
  .myfirstarchive{
    /*border: 1px solid black;*/
    background: url(/images/archive.JPG) no-repeat;
    background-size: 100% auto;
    text-align: center;
    width: 100%;
    height:300px;
    max-height: 500px;
    overflow:hidden;
    position:absolute;
    top:0;
    left:0;
    z-index: -1;
  }
  .myfirstarchive img{
    width:100%;
    }
    .title-on-img{
      position:absolute;
      width:90%;
      height:150px;
      top:25%;
      left:5%;
    }
  .img-responsive{
    width:100%;
    height:100%;
  }
  .postblock{
    width:100%;
    margin:8px auto;
    padding:1% 2%;
    background-color:white;
    opacity:0.8;
    border-radius:1%;
    /*border:1px solid gray;*/
  }

  .year{
    padding-bottom: 5%;
    border-bottom: 1px solid #f0f0f0;
  }
.archive_item{
  font-size:15px;
  line-height:16px;
  /*border-bottom: 1px solid gray;*/
  padding-left: 3px;
  padding-right: 3px;
  margin:8% 0;
}

.container{
  padding:5% 1%;
  margin-right:0;
  margin-left:0;
  width:100%;
  margin-top:13%;
  min-height:700px;
  }
.row{
  border-radius: 1%;
}

#li-of-post{

}
#li-of-posts{
width:100%;
}
.here{
  /*max-height:82%;*/
  padding-bottom: 10%;
}
.fixhere{
height:80%;
width:22%;
position: fixed;
top:30px;
overflow:auto;
}
.fixleft{
  position:fixed;
  top:0;
  overflow:auto;
}
a.title{
  width:100%;
  /*white-space:nowrap;*/
  display:block;
}
.date{
  width:100%;
  text-align: left;
}
@media only screen and (max-width: 767px) {
    .navbar-collapse {
        display: none;
        border: none;
        background: white;
        box-shadow: rgba(0, 0, 0, 0.2) 0 1px 4px;
        border-radius: 2px;
        width: 150px;
        float: right;
        margin: 0;
        height: auto;
    }
    .myfirstarchive{
      height:200px;
      background-size: 200% auto;
      overflow: hidden;

    }
    .myfirstarchive img{
      width:200%;
      /*height:100%;*/
    }
    .container{
        margin-top:40%;
    }

    .mulu{
    display:none;
      }

  }

.one-post{
  /*padding:2% 15%;*/
}
.mytittle{
  position:absolute;
  width:40%;
  top:0;
  left:30%;
  font-size:18px;
  text-align: center;
  padding-top: 12px;
  display:none;
}
.share{
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  width:76%;
  height:30px;
  margin: 2% 12%;
  font-size: 20px;
}
.comments{
  width:76%;
  height:30px;
  margin: 2% 12%;
  font-size: 20px;
}
.page-number{
  margin-right: 1%;
    margin-left: 1%;
}

.mywork-title{
  width:100%;
  height:4em;
  padding:0 20px;
  background-color: #f0f0f0;
}
.work-figure{
  width:100%;
}
.introduction{
  width:100%;
  padding:2% 2%;
  font-size: 17px;
  border-bottom: 1px solid #d0d0d0;
}
.open-mywork{
  font-size: 17px;
  width:100%;
  padding:1% 2%;
}
.open-mywork.nav-pills{
background-color: #ffd1a4;
color: white;
}
li.article-tag-list-item{
  list-style-type:none;
}
li.toc-item{
  list-style-type:none;
}
li.intro{
  list-style-type:none;
}
ol.toc{
  font-size: 15px;
  line-height: 30px;
}
.personal-information{
    width:100%;
}
.head-img{
  width:90%;
  margin:5% 5%;
}
.my-name{
  width:90%;
  margin:5% 5%;
  text-align: center;
}
.intro{
  display:inline;
  font-size: 25px;
  margin:1% 3%;
}
#wechat{
  width:90%;
  margin:5% 5%;
}
.my-paper-intro{
  width:90%;
  margin:5% 5%;
  padding-left: 10%;
}
.tag-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.tag-list .tag-list-item{
  float:left;
}
.tag-list .tag-list-item .tag-list-link{
    display: block;
    padding: 8px;
    margin:4px;
    text-decoration: none;
    background-color: #5cb85c;
    color:white;
    border-radius:3px;
}
.tag-list .tag-list-item .tag-list-link:hover{
    background-color: #449d44;
    border-color:#398439;
}
.tag-list .tag-list-item .tag-list-count{
    display:none;
}
button#up{
float:right;
margin-right: 20px;
}
ol.toc{
  padding:1% 5%;
}
.my-tag{
  width:60%;
  height:50px;
  margin:2% 20%;
  border:1px solid black;
}
